.forgotpassword__form {
  height: 100% !important;
  position: relative;
  padding: 2rem !important ;
}

.forgotpasswordbuttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem !important;
}

.forgotpassword__mail {
  margin-bottom: 2.5rem !important;
}
