.login {
  background-repeat: no-repeat;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-size: cover; 
  background-position: center;
}

.login::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.login__card {
  max-width: 800px;
  border-radius: 12px !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: solid #dadce0 1px;
}
.login__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75% !important;
  padding: 2rem !important ;
}
.login__form {
  height: 100% !important;
  position: relative;
  width:370px;
  padding: 2rem !important ;
}
.loginbuttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem !important;
}
.login__mail {
  margin-bottom: 1.5rem !important;
}
.login__password {
  margin-bottom: 1.5rem !important;

}
.text-primary {
  color: #4387d3 !important;
}
.login__footer {
  text-align: center;
  padding: 5px;
  margin-top: 50px;
}
.form{
  width: 300px;
  
}
