* {
  box-sizing: border-box;
  margin: 0px;
}
.RoleManagement{
  width: 630px;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-bottom: 0.5rem;
  position: sticky;
  margin-inline-end: 20px;
  
}
.permissions {
  width: 650px;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-bottom: 0.5rem;
  position: sticky;
  margin-inline-end: 20px;
  margin-left: 0px;
}
.WorkflowAndRules {
  width: 600px;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-bottom: 0.5rem;
  position: sticky;
  margin-inline-end: 20px;
  margin-left: 0px;
}
.SettingsUsers {
  width: 630px;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-bottom: 0.5rem;
  position: sticky;
  margin-inline-end: 20px;
  margin-left: 0px;
}
.column1 {
  float: left;
  padding: 5px;
  margin-left: 50px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column2 {
  float: left;
  margin-top: 50px;
  padding: 2px;
}
.row::after2 {
  margin-top: 100px;
  content: "";
  clear: both;
  
}

