
.resetpassword__form {
  height: 100% !important;
  position: relative;
  padding: 2rem !important ;
}

.loginbuttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem !important;
}

.resetpassword__mail {
  margin-bottom: 1.5rem !important;
}

.resetpassword__password {
  margin-bottom: 0.75rem !important;
}

.text-primary {
  color: #4387d3 !important;
}
.resetpasswordbuttons{
  display: flex;
  justify-content:space-between;
}
