* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-primary {
  background-color: #007bff !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-success {
  color: #4caf50 !important;
}

.text-rejected {
  color: #f44336 !important;
}

.text-pending {
  color: #ff9800 !important;
}

.chip-success {
  color: #4caf50;
  background-color: rgba(76, 175, 80, 0.08);
}

.chip-rejected {
  color: #f44336;
  background-color: rgba(244, 67, 54, 0.08);
}

.chip-pending {
  color: #ff9800;
  background-color: rgba(255, 152, 0, 0.08);
}

.chip {
  cursor: default;
  height: 20px;
  display: inline-flex;
  padding: 4px 8px;
  flex-grow: 0;
  font-size: 0.75rem;
  min-width: 20px;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 2px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  justify-content: center;
}
.c-pointer {
  cursor: pointer;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.MuiTableRow-root:hover {
  background: #e8e8e8;
}

.MuiIconButton-root {
  padding: 5px;
}
/*Top NavBar Color*/
.MuiAppBar-colorPrimary {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #babfc3, #324458);
}

/* Apps Styles */
.AppMenu {
  /* padding: 3px; */
  width: 100%;
  border-radius: 7px;
  justify-content: space-between;
}

.MuiPopover-paper {
  scrollbar-width: thin;
  scrollbar-color: #dadce0 white;
}

/* Works on Chrome/Edge/Safari */
.MuiPopover-paper::-webkit-scrollbar {
  width: 12px;
}
.MuiPopover-paper::-webkit-scrollbar-track {
  background: white;
}
.MuiPopover-paper::-webkit-scrollbar-thumb {
  background-color: #dadce0;
  border-radius: 20px;
  border: 3px solid white;
}

/* Link Tag */

a {
  text-decoration: none;
  color: inherit;
}
